<option value="0">Nahkampf</option>
<option value="1">Fernkampf</option>
<option value="2">Körper</option>
<option value="3">Gesellschaft</option>
<option value="4">Wissen</option>
<option value="5">Natur</option>
<option value="6">Handwerk</option>
