.editor {
    height: 100% !important;
    width: 100%;
    overflow: auto;
}
.editor-content {
    min-height: 50px;
    min-height: 500px;
    min-width: 300px;
    height: 100% !important;
    width: 100%;
    overflow: auto;
/*     font-weight: bold; */
}

.icon-small{
    flex-basis: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}

.flex-fest-var{
    flex-grow: 0;
    flex-shrink: 0;
}
