<form class="{{cssClass}} flexcol" autocomplete="off">

	<header class="sheet-header">
		<img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{data.name}}" /></h1>
		</div>
	</header>


	<div class="flexrow">
		<label><b>Attribute</b></label>
				<select name="data.attribut_0">
			{{#select data.data.attribut_0}}
			{{> systems/Ilaris/templates/helper/select_attribut.html}}
			{{/select}}
		</select>
		<select name="data.attribut_1">
			{{#select data.data.attribut_1}}
			{{> systems/Ilaris/templates/helper/select_attribut.html}}
			{{/select}}
		</select>
		<select name="data.attribut_2">
			{{#select data.data.attribut_2}}
			{{> systems/Ilaris/templates/helper/select_attribut.html}}
			{{/select}}
		</select>
	</div>
	
	<div class="flexrow">
		<label><b>Fertigkeitsgruppe</b></label>
		<select name="data.gruppe">
			{{#select data.data.gruppe}}
			{{> systems/Ilaris/templates/helper/select_fertigkeitsgruppe.html}}
			{{/select}}
		</select>
	</div>
	
	<div>
		{{#if hasOwner}}
		<div class="flexrow">
			<!-- <h6>Basis</h6> -->
			<label>FW:</label>
			<!-- <h6>PW</h6>
			<h6>PWT</h6> -->
			<!-- </div>
		<div class="flexrow"> -->
			<!-- <label>{{data.basis}}</label> -->
			<input name="data.fw" value="{{data.data.fw}}" type="text" data-dtype="Number">
			<!-- <label>{{data.pw}}</label>
			<label>{{data.pwt}}</label> -->
		</div>
		<!-- <div>
			<label>Talente:</label><br>
			<label>{{data.talente}}</label>
		</div> -->
		{{/if}}
	</div>
	
    </div>
	    <div class="form-group stacked description">
        <label><b>Beschreibung</b></label>
        <textarea rows="6" name="description">{{data.data.text}}</textarea>
    </div>			


</form>
