<form class="{{cssClass}}">
    <div class="flexrow">
        <div>
            <label>Freies Talent:</label>
            <input name="name" type="text" value="{{data.name}}" />
        </div><div>
            <label>Probenwert:</label>
            <input type="number" name="data.pw" value="{{data.data.pw}}"/>
        </div>
    </div>
    <hr>
    <div>
        <label>Löschen</label>
        <a class="item-delete" data-itemclass="freie_fertigkeit" data-itemid="{{data._id}}"
        ><i class="fas fa-trash"></i
        ></a>
    </div>
</form>
