{{log 'manoever' this}}
<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{item.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div class="flexrow">
            <label><b>Manövertyp:</b></label>
            <select name="system.gruppe">
                {{selectOptions manoever.manoever_type selected=item.system.gruppe}}
            </select>
        </div>
        <div class="manoever-voraussetzungen">
            <div class="flexrow">
                <div><b>Voraussetzungen </b><a class="add-voraussetzung">[+]</a><b>: </b></div>
                <a title="{{manoever.voraussetzung_tooltip}}"><i class="fas fa-info"></i></a>
            </div>
            {{#each item.system.voraussetzungen}}
                <div class="voraussetzung">
                    <div class="flexrow row">
                        <input
                            name="system.voraussetzungen.{{@index}}.name"
                            value="{{this.name}}"
                            type="text"
                            data-dtype="String"
                        />
                        <a
                            class="voraussetzung-delete icon-small delete-button"
                            data-voraussetzungid="{{@index}}"
                            style="float: right"
                            ><i class="fas fa-trash"></i
                        ></a>
                    </div>
                    <div class="flexrow row">
                        <label>Voraussetzungtyp:</label>
                        <select name="system.voraussetzungen.{{@index}}.type">
                            {{selectOptions ../manoever.voraussetzung_type selected=this.type}}
                        </select> 
                    </div>   
                    <div class="flexrow row">
                        {{#if (ifEq this.type "VORTEIL")}} 
                            <label>Vorteile:</label>
                            <multi-select name="system.voraussetzungen.{{@index}}.value">
                                {{selectOptions ../vorteile selected=this.value valueAttr="key" labelAttr="label"}}
                            </multi-select>
                        {{/if}}
                        {{#if (ifEq this.type "STILE")}}
                            <label>Stile:</label> 
                            <multi-select name="system.voraussetzungen.{{@index}}.value">
                                {{selectOptions ../stile selected=this.value valueAttr="key" labelAttr="label"}}
                            </multi-select>
                        {{/if}}
                        {{#if (ifEq this.type "WAFFENEIGENSCHAFT")}} 
                            <label>Waffeneigenschaften:</label>
                            <select name="system.voraussetzungen.{{@index}}.value">
                                {{selectOptions ../waffeneigenschaften selected=this.value}}
                            </select>
                        {{/if}}
                    </div> 
                </div> 
                <hr>        
            {{/each}}
        </div>
        <div class="manoever-selectors">
            <div class="flexrow">
                <div><b>Inputs </b><a class="add-input">[+]</a><b>: </b></div>
                <a title="{{manoever.selectors_tooltip}}"><i class="fas fa-info"></i></a>
            </div>
            {{#each item.system.inputs}}
                <div class="inputs">
                    <div class="flexrow">
                        <label><b>Inputlabel:</b></label>
                        <input
                            name="system.inputs.{{@index}}.label"
                            value="{{this.label}}"
                            type="text"
                            data-dtype="String"
                        />
                        <a
                            class="delete-input icon-small delete-button"
                            data-inputid="{{@index}}"
                            style="float: right"
                            ><i class="fas fa-trash"></i
                        ></a>
                    </div>
                    <div class="flexrow row">
                        <label>Inputtype:</label>
                        <select name="system.inputs.{{@index}}.field">
                            {{selectOptions ../manoever.selector_type selected=this.field}}
                        </select>            
                    </div>   
                    <div class="flexrow row">
                        {{#if (ifEq this.field "NUMBER")}} 
                            <div class="flexrow">
                                <a title="{{manoever.numberInput_tooltip}}"><i class="fas fa-info"></i></a>
                                <label>min:</label>
                                <input
                                    name="system.inputs.{{@index}}.min"
                                    type="number"
                                    value="{{this.min}}"
                                    data-dtype="Number"
                                />
                                <label>max:</label>
                                <input
                                    name="system.inputs.{{@index}}.max"
                                    type="number"
                                    value="{{this.max}}"
                                    data-dtype="Number"
                                />
                            </div>
                        {{/if}}
                    </div> 
                </div> 
                <hr>        
            {{/each}}
        </div>
        <div class="flexrow">
            <label><b>Probe:</b></label>
            <input name="system.probe" value="{{item.system.probe}}" type="text" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label><b>Gegenprobe:</b></label>
            <input
                name="system.gegenprobe"
                value="{{item.system.gegenprobe}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea rows="8" name="system.text">{{item.system.text}}</textarea>
        </div>
    </div>
</form>
