<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname"><input name="name" type="text" value="{{item.name}}" /></h1>
                </div>
            </header>
        </div>
        <!-- <div class="flexrow">
             <label><b>Label:</b></label>
             <input name="data.label" value="{{item.data.label}}" type="text" data-dtype="String">
             </div> -->
        <div class="flexrow">
            <label><b>Fertigkeit:</b></label>
            {{#if hasOwner}}
            <select name="data.fertigkeit">
                {{#select data.fertigkeit}}
                {{#each data.fertigkeit_list as |fert|}}
                <option value="{{fert}}">{{fert}}</option>
                {{/each}}
                {{/select}}
            </select>
            {{else}}
            <input name="data.fertigkeit" value="{{item.data.fertigkeit}}" type="text" data-dtype="String">
            {{/if}}
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea name="data.text">{{data.text}}</textarea>
        </div>
    </div>
</form>
