<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <!-- <div class="flexrow">
             <label><b>Label:</b></label>
             <input name="data.label" value="{{item.data.label}}" type="text" data-dtype="String">
             </div> -->
        <div class="flexrow">
            <label><b>Fertigkeit:</b></label>
            {{#if hasOwner}}
            <!-- <label>{{{data}}}</label>
                 <label>{{data.profan_fertigkeit_list}}</label>
                 <label>{{item.data.profan_fertigkeit_list}}</label> -->
            <select name="data.fertigkeit">
                {{#select data.data.fertigkeit}} {{#each fertigkeit_list as |fert|}}
                <option value="{{fert}}">{{fert}}</option>
                {{/each}} {{/select}}
            </select>
            {{else}}
            <input
                name="data.fertigkeit"
                value="{{data.data.fertigkeit}}"
                type="text"
                data-dtype="String"
            />
            {{/if}}
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea name="data.text">{{data.data.text}}</textarea>
        </div>
    </div>
</form>
