<form class="{{cssClass}}">
    <div>
        <input class="titel-input" name="name" type="text" value="{{data.name}}" />
        <hr>
        <div class="flexrow">
            <label><b>Kategorie:</b></label>
            <select name="data.gruppe">
                {{#select data.data.gruppe}} {{>
                systems/Ilaris/templates/helper/select_vorteilsgruppe.html}} {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label><b>Voraussetzung:</b></label>
            <input
                name="data.voraussetzung"
                value="{{item.data.data.voraussetzung}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea rows="8" name="data.text">{{data.data.text}}</textarea>
        </div>
        <hr>
        <a class="item-delete" data-itemid="{{data._id}}">
            <button class="clickable" type="button">
                Vorteil Löschen <i class="fas fa-trash"></i>
            </button>
        </a>
    </div>
</form>
