<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname"><input name="name" type="text" value="{{data.name}}" /></h1>
                </div>
            </header>
        </div>
        <div class="flexrow">
            <select name="data.gruppe">
                {{#select data.data.gruppe}}
                {{> systems/Ilaris/templates/helper/select_vorteilsgruppe.html}}
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label><b>Voraussetzung:</b></label>
            <input name="data.voraussetzung" value="{{item.data.data.voraussetzung}}" type="text" data-dtype="String">
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea name="data.text">{{data.data.text}}</textarea>
        </div>
    </div>
</form>
