settings_local.py
*.pyc
__pycache__
.mypy_cache

*~
\#*\#
.\#*
.#*

.log
tmp_directory
README*.html
# sephrasto_datenbank.js_old
# sephrasto_datenbank.js
# sephrasto_datenbank.json
# createzip.py
# ilaris.zip
ilaris-foundryvtt.zip
# datenbank.json
# datenbank.xml
# datenbank_20210425.json
# datenbank.json_20210427
# datenbank.xml_20210427
# package.json
# package-lock.json
node_modules
#.eslintrc.js
#.eslintrc
# tsconfig.json
#jsconfig.json

# binary files in /packs are required in release but can be ignored during dev
# use foundryvtt-cli to build them from /packs/*/_source files
/packs/*/*.db
/packs/*/*.ldb
/packs/*/*.log
/packs/*/CURRENT
/packs/*/LOG
/packs/*/LOG.old
/packs/*/LOCK
/packs/*/MANIFEST-*