{{!-- <nav class="sheet-tabs tabs" aria-roledescription="Form Tab Navigation" data-application-part="tabs">
    <a data-action="tab" data-group="primary" data-tab="attribute">
        <i class="round-icon attribute-tab-icon" inert=""></i>
        <span>Attribute</span>
    </a>
    <a data-action="tab" data-group="primary" data-tab="fertigkeiten" class="active">
        <i class="fa-solid fa-wrench" inert=""></i>
        <span>Fertigkeiten</span>
    </a>
    <a data-action="tab" data-group="primary" data-tab="uebernatuerlich">
        <i class="fa-solid fa-wand-magic-sparkles" inert=""></i>
        <span>Übernatürlich</span>
    </a>
    <a data-action="tab" data-group="primary" data-tab="kampf">
        <i class="fa-solid fa-swords" inert=""></i>
        <span>Kampf</span>
    </a>
    <a data-action="tab" data-group="primary" data-tab="inventar">
        <i class="fa-solid fa-backpack" inert=""></i>
        <span>Inventar</span>
    </a>
    <a data-action="tab" data-group="primary" data-tab="notes">
        <i class="fa-solid fa-note-sticky" inert=""></i>
        <span>Notizen</span>
    </a>
    <a data-action="tab" data-group="primary" data-tab="effects">
        <i class="fa-solid fa-sparkles" inert=""></i>
        <span>Effekte</span>
    </a>
</nav> --}}
<nav class="sheet-tabs tabs herotabnavigation">
    <a data-action="tab" class="tab-item" data-group="primary" data-tab="attribute">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/attribute.webp" height="20" width="20" />
        <span>Attribute</span>
    </a>
    <a data-action="tab" class="tab-item" data-group="primary" data-tab="fertigkeiten">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/holzbearbeitung.webp" height="20" width="20" />
        <span>Fertigkeiten</span>
    </a>
    <a data-action="tab" class="tab-item" data-group="primary" data-tab="uebernatuerlich">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/gildenmagie.webp" height="20" width="20" />
        <span>Übernatürlich</span>
    </a>
    <a data-action="tab" class="tab-item" data-group="primary" data-tab="kampf">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/beidhaendig.webp" height="20" width="20" />
        <span>Kampf</span>
    </a>
    <a data-action="tab" class="tab-item" data-group="primary" data-tab="inventar">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Inventar.webp" height="20" width="20" />
        <span>Inventar</span>
    </a>
    <a data-action="tab" class="tab-item" data-group="primary" data-tab="notes">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Feder.webp" height="20" width="20" />
        <span>Notizen</span>
    </a>
    <a data-action="tab" class="tab-item" data-group="primary" data-tab="effects">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Feder.webp" height="20" width="20" />
        <span>Effekte</span>
    </a>
</nav>