<option value="KO">KO</option>
<option value="MU">MU</option>
<option value="GE">GE</option>
<option value="KK">KK</option>
<option value="IN">IN</option>
<option value="KL">KL</option>
<option value="CH">CH</option>
<option value="FF">FF</option>
