/* ----------------------------------------- */
/*  Dice / Chat Message Feature Styles        */
/* ----------------------------------------- */

.chat-message {
  color: #000000;
  font-family: var(--font-crimson);
  /* TODO CR: Wegen Bild fragen */
  background-image: url('../../../../assets/images/background/hintergrund.jpg');
}

.chat-message .message-header {
  color: #000000;
}

.chat-message .message-header .flavor-text {
  color: #000000;
}

.chat-message h2 {
  font-size: 24px;
}

.chat-message h3 {
  font-size: 20px;
}
