{{log 'angriff' this}}
{{#if (ifEq actor.type "held")}}
    <div>
        <label>Schips: </label>
        <label>{{radioBoxes "schips" choices_schips checked=checked_schips}}</label>
    </div>
{{/if}}
<div class="flexrow">
    <label>{{get_label "kbak"}}</label>
    <input type="checkbox" id="kbak" {{checked item.system.manoever.kbak.selected}} />
</div>
<div class="flexrow">
    {{#if item.system.manoever.vlof.offensiver_kampfstil}}
        <label>{{get_label "vlofok"}}</label>
    {{else}}
        <label>{{get_label "vlof"}}</label>
    {{/if}}
    <input type="checkbox" id="vlof" {{checked item.system.manoever.vlof.selected}} />
</div>
<div class="flexrow">
    <label>{{get_label "vldf"}}</label>
    <input type="checkbox" id="vldf" {{checked item.system.manoever.vldf.selected}} />
</div>

<div class="flexrow">
    <label>Passierschlag: </label>
    <input type="checkbox" id="pssl" {{checked item.system.manoever.pssl.selected}} />
</div>

<!-- eingaben -->
<div class="flexrow">
    <label>Reichweitenunterschied: </label>
    <select id="rwdf" name="item.system.manoever.rwdf.selected" style="max-width: 150px">
        {{#select item.system.manoever.rwdf.selected}}
        <option value="0">Ideal</option>
        <option value="1">1 Feld</option>
        <option value="2">2 Felder</option>
        {{/select}}
    </select>
</div>

<div class="flexrow">
    <label>Reaktionsanzahl: </label>
    <input
        id="rkaz"
        type="number"
        name="item.system.manoever.rkaz.selected"
        value="{{item.system.manoever.rkaz.selected}}"
        data-dtype="Number"
    />
</div>

<hr>

<div>
    <div class="maneuver-header collapsed">
        <h3>Manöver:</h3>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="maneuver-grid collapsed">
        {{#each item.manoever as |manoever|}}
            <div class="maneuver-item {{#if (or (some manoever.inputValues "value") (some manoever.inputValues "checked"))}}has-value{{/if}}">
                <label>{{manoever.name}} ({{manoever.system.probe}})</label>
                {{#each manoever.inputValues as |input|}}
                    {{#if (ifEq input.field "CHECKBOX")}}
                        <input
                            type="checkbox"
                            id="{{manoever.id}}CHECKBOX"
                            {{#if input.value}}checked{{/if}}
                        />
                    {{/if}}
                    {{#if (ifEq input.field "NUMBER")}}
                    {{log input}}
                        <input
                            id="{{manoever.id}}NUMBER"
                            type="number"
                            name="item.manoever.{{@../index}}.inputValues.{{@index}}.value"
                            value="{{input.value}}"
                            data-dtype="Number"
                            {{#unless (ifEq input.min null)}}min="{{input.min}}"{{/unless}}
                            {{#if input.max}}max="{{input.max}}"{{/if}}
                        />
                    {{/if}}
                    {{#if (ifEq input.field "TREFFER_ZONE")}}
                        <select id="{{manoever.id}}TREFFER_ZONE" name="input.value" style="max-width: 150px">
                            {{selectOptions ../../trefferzonen selected=input.value}}
                        </select>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>

<hr />
<div class="flexrow">
    <label>Modifikator: </label>
    <input
        id="modifikator"
        type="number"
        name="item.system.manoever.mod.selected"
        value="{{item.system.manoever.mod.selected}}"
        data-dtype="Number"
    />
</div>
<div class="flexrow">
    <label>Würfelmodus: </label>
    <select id="rollMode">
        {{selectOptions rollModes selected=item.system.manoever.rllm.selected localize=true}}
    </select>
</div>
<hr />
<div class="flexrow">
    <button style="max-width: 150px" class="angreifen" type="button">
        <i>
            <img
                class="button-icon-nahkampf"
                src="systems/Ilaris/assets/game-icons.net/sword-clash.png"
            />
        </i>
        Angriff
    </button>
    <button style="max-width: 150px" class="verteidigen" type="button">
        <i
            ><img
                class="button-icon-nahkampf"
                src="systems/Ilaris/assets/game-icons.net/shield-opposition.png"
        /></i>
        Verteidigung
    </button>
    <button style="max-width: 150px" type="button" class="schaden">
        <i
            ><img
                class="button-icon-nahkampf"
                src="systems/Ilaris/assets/game-icons.net/bloody-sword.png"
        /></i>
        Schaden
    </button>
</div>
