<form>
    <div class="form-group">
        <label>XML Datei mit Ilaris Regeln hochladen:</label>
        <input type="file" name="xmlFile" accept=".xml" required />
        <p class="notes">
            Wähle eine XML-Datei mit Ilaris Regeln aus.
            Es werden automatisch Kompendien für alle enthaltenen Regeltypen erstellt
            (Fertigkeiten, Talente, Waffen, Zauber, Liturgien, Manöver, etc.).
        </p>
    </div>
</form>
