<form>
    <div class="form-group">
        <label>Verfügbare Vorteile Kompendien:</label>
        {{#each packs}}
        <div class="form-group">
            <label class="checkbox {{#if (eq this.id 'Ilaris.vorteile')}}system-pack{{/if}}">
                <input type="checkbox" name="{{this.id}}" {{#if this.selected}}checked{{/if}}>
                {{#if (eq this.id 'Ilaris.vorteile')}}
                    {{this.name}} von Ilaris
                {{else}}
                    {{this.name}}
                {{/if}}
            </label>
        </div>
        {{/each}}
    </div>
    <button type="submit" name="submit">
        <i class="far fa-save"></i> Speichern
    </button>
</form> 