<div>
    <h2>Attribute</h2>
    <div>
        <div class="flexrow">
            <label class="icon-small"></label>
            <h6></h6>
            <h6>Wert</h6>
            <h6>PW</h6>
        </div>
        {{#each data.data.attribute as |attribut key|}}
            <div class="flexrow">
                <a class="rollable icon-small" data-rolltype="nahkampf" data-itemid="{{nwaffe.id}}"><i class="fas fa-dice-d20"></i></a>
                <label>{{get_label key}}</label>
                <input name="data.attribute.{{key}}.wert" value="{{attribut.wert}}" type="text" data-dtype="Number">
                <label class="rollable onhover" data-rolltype="attribut" data-attribut="{{key}}">{{attribut.pw}}</label>
            </div>
        {{/each}}
    </div>
    <br>
    <h2>Eigenheiten</h2>
    <a class="item-create" data-itemclass="eigenheit"><i class="fas fa-plus"></i>Neue Eigenheit</a>
    <div>
    {{#each data.data.eigenheiten}}
        <a class="item-edit" data-itemid="{{this.id}}"> {{this.name}} </i></a>
        <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
        &nbsp; | &nbsp;
    {{/each}}
    </div>
    <br>
    <br>
    <h2>Vorteile</h2>
    {{#if data.data.vorteil.allgemein}}
        <div>
            <label><b>Allgemeine Vorteile:</b>&nbsp; | &nbsp;</label>
            {{#each data.data.vorteil.allgemein}}
                <!-- <label>key: {{@key}}</label> <label>this: {{{this}}}</label> <label>dot: {{{.}}}</label> -->
                <a class="item-edit" data-itemid="{{this.id}}"> {{this.name}} </i></a>
                <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
                &nbsp; | &nbsp;
            {{/each}}
        </div>
    {{/if}}
    {{#if data.data.vorteil.profan}}
        <div>
            <label><b>Profane Vorteile:</b>&nbsp; | &nbsp;</label>
            {{#each data.data.vorteil.profan}}
                <a class="item-edit" data-itemid="{{this.id}}"> {{this.name}} </i></a>
                <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
                &nbsp; | &nbsp;
            {{/each}}
        </div>
    {{/if}}
    {{#if data.data.unsorted}}
        <br>
        <hr>
        <hr>
        <label><b>Unsorted Items:</b>&nbsp; | &nbsp;</label>
        {{#each data.data.unsorted}}
            <a class="item-edit" data-itemid="{{this.id}}"> {{this.name}} </i></a>
            <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
            &nbsp; | &nbsp;
        {{/each}}
        <hr>
        <hr>
    {{/if}}
</div>
