<input
    name="ruestungen.{{key}}.data.be"
    value="{{ruestung.data.be}}"
    type="text"
    data-dtype="Number"
/>
<input
    name="ruestungen.{{key}}.data.aktiv"
    data-dtype="Boolean"
    type="checkbox"
    {{checked
    ruestung.data.aktiv}}
/>
<input
    name="ruestungen.{{key}}.name"
    value="{{ruestung.name}}"
    placeholder="Hallo"
    type="text"
    data-dtype="Text"
/>
<input
    name="data.ruestungen.data.{{key}}.rs"
    value="{{ruestung.rs}}"
    type="text"
    data-dtype="Number"
/>
<input
    name="data.ruestungen.{{key}}.rs_beine"
    value="{{ruestung.be}}"
    type="text"
    data-dtype="Number"
/>
<input
    name="data.ruestungen.{{key}}.rs_schildarm"
    value="{{ruestung.rs_schildarm}}"
    type="text"
    data-dtype="Number"
/>
<input
    name="data.ruestungen.{{key}}.rs_schwertarm"
    value="{{ruestung.rs_schwertarm}}"
    type="text"
    data-dtype="Number"
/>
<input
    name="data.ruestungen.{{key}}.rs_bauch"
    value="{{ruestung.rs_bauch}}"
    type="text"
    data-dtype="Number"
/>
<input
    name="data.ruestungen.{{key}}.rs_brust"
    value="{{ruestung.rs_brust}}"
    type="text"
    data-dtype="Number"
/>
<input
    name="data.ruestungen.{{key}}.rs_kopf"
    value="{{ruestung.rs_kopf}}"
    type="text"
    data-dtype="Number"
/>
