{{log 'inventar' this}}
{{> systems/Ilaris/templates/sheets/tabs/inventory/finances.hbs}}
<br />

<a class="item-create" data-itemclass="gegenstand">
    <i class="fas fa-plus"></i>
    Neuer Gegenstand
</a>


{{> systems/Ilaris/templates/sheets/tabs/inventory/supporting.hbs}}
<br />
{{> systems/Ilaris/templates/sheets/tabs/inventory/carrying.hbs}}
<br />
{{> systems/Ilaris/templates/sheets/tabs/inventory/handcart.hbs}}
