<div class="flexrow">
    <label>Dukaten</label>
    <input
        name="data.geld.dukaten"
        value="{{data.data.geld.dukaten}}"
        type="text"
        data-dtype="Number"
    />
    <label>Silbertaler</label>
    <input
        name="data.geld.silbertaler"
        value="{{data.data.geld.silbertaler}}"
        type="text"
        data-dtype="Number"
    />
    <label>Heller</label>
    <input
        name="data.geld.heller"
        value="{{data.data.geld.heller}}"
        type="text"
        data-dtype="Number"
    />
    <label>Kreuzer</label>
    <input
        name="data.geld.kreuzer"
        value="{{data.data.geld.kreuzer}}"
        type="text"
        data-dtype="Number"
    />
    <button class="clickable" data-clicktype="shorten_money" type="button">
        Geld zusammenrechnen
    </button>
</div>

<br />

<a class="item-create" data-itemclass="gegenstand"><i class="fas fa-plus"></i>Neuer Gegenstand</a>

<h2>Tragend</h2>
<!-- (Gewicht wird nicht berücksichtigt) -->
<div class="flexrow">
    <label><b>Name</b></label>
    <label><b>{{get_label "gewicht"}}</b></label>
    <label class="icon-small"></label>
    <label class="icon-small"></label>
</div>
<div class="twokindrow">
    {{#each data.data.inventar.tragend as |item key|}}
    <div class="flexrow">
        <label>{{item.name}}</label>
        <label>{{item.data.data.gewicht}}</label>
        <a class="item-edit icon-small" data-itemid="{{item.id}}"><i class="fas fa-edit"></i></a>
        <a class="item-delete icon-small" data-itemid="{{item.id}}"><i class="fas fa-trash"></i></a>
    </div>
    {{/each}}
</div>

<br />

<h2>Mitführend</h2>
<!-- (Gewicht wird nicht berücksichtigt) -->
<div class="flexrow">
    <label><b>Name</b></label>
    <label><b>{{get_label "gewicht"}}</b></label>
    <label><b>{{data.data.getragen}}</b></label>
    <label><b>/</b></label>
    <label><b>{{data.data.abgeleitete.traglast}}</b></label>
    <label><b>({{data.data.abgeleitete.traglast_intervall}})</b></label>
    <label class="icon-small"></label>
    <label class="icon-small"></label>
</div>
<div class="twokindrow">
    {{#each data.data.inventar.mitfuehrend as |item key|}}
    <div class="flexrow">
        <label>{{item.name}}</label>
        <label>{{item.data.data.gewicht}}</label>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <a class="item-edit icon-small" data-itemid="{{item.id}}"><i class="fas fa-edit"></i></a>
        <a class="item-delete icon-small" data-itemid="{{item.id}}"><i class="fas fa-trash"></i></a>
    </div>
    {{/each}}
</div>

<br />

{{#each data.data.inventar.item_list as |itemContainer key|}}
<h2>{{itemContainer.name}}</h2>
<a class="item-edit icon-small" data-itemid="{{itemContainer.id}}"><i class="fas fa-edit"></i></a>
<a class="item-delete icon-small" data-itemid="{{itemContainer.id}}"
    ><i class="fas fa-trash"></i
></a>
<div class="flexrow">
    <label><b>Name</b></label>
    <label><b>{{get_label "gewicht"}}</b></label>
    <label><b>{{itemContainer.data.data.gewicht_summe}}</b></label>
    <label><b>/</b></label>
    <label><b>{{multMinusOne itemContainer.data.data.gewicht}}</b></label>
    <label class="icon-small"></label>
    <label class="icon-small"></label>
</div>
<div class="twokindrow">
    {{#each itemContainer.data.data.bewahrt_auf as |item key|}}
    <div class="flexrow">
        <label>{{item.name}}</label>
        <label>{{item.data.data.gewicht}}</label>
        <label></label>
        <label></label>
        <label></label>
        <a class="item-edit icon-small" data-itemid="{{item.id}}"><i class="fas fa-edit"></i></a>
        <a class="item-delete icon-small" data-itemid="{{item.id}}"><i class="fas fa-trash"></i></a>
    </div>
    {{/each}}
</div>
<br />
{{/each}}
