<div>
    <h2>Fertigkeiten</h2>
    <a class="item-create" data-itemclass="magie_fertigkeit"><i class="fas fa-plus"></i>Neue Magiefertigkeit</a>
    <a class="item-create" data-itemclass="karma_fertigkeit"><i class="fas fa-plus"></i>Neue Karmafertigkeit</a>
    <div>
        <div class="flexrow">
            <!-- <h6></h6> -->
            <h6>Fertigkeit</h6>
            <!-- <h6>Faktor</h6> -->
            <h6>Attribute</h6>
            <h6>Basis</h6>
            <h6>FW</h6>
            <h6>PW</h6>
            <h6></h6>
            <h6></h6>
        </div>
        {{#each actor.magie.fertigkeiten as |magfert|}}
        {{key}}
        <div class="flexrow">
            <!-- <label></label> -->
            <!-- <label>{{magfert.img}}</label> -->
            <label class="ausklappen-trigger" data-ausklappentarget="{{magfert._id}}">{{magfert.name}}</label>
            <!-- <label>{{magfert.data.faktor}}</label> -->
            <label>{{AttributeFertigkeit_from_data magfert.data}}</label>
            <label>{{magfert.data.basis}}</label>
            <label>{{magfert.data.fw}}</label>
            <label class="rollable" data-rolltype="magie_fertigkeit" data-fertigkeit="{{magfert.name}}" data-pw="{{magfert.data.pw}}">{{magfert.data.pw}}</label>
            <a class="item-edit" data-itemclass="magie_fertigkeit" data-itemid="{{magfert._id}}"><i class="fas fa-edit"></i></a>
            <a class="item-delete" data-itemclass="magie_fertigkeit" data-itemid="{{magfert._id}}"><i class="fas fa-trash"></i></a>
        </div>
        <div id="ausklappen-view-{{magfert._id}}" style="display: none">
            <label style="white-space: pre-line;">{{magfert.data.text}}</label>
        </div>
        {{/each}}
        {{#each actor.karma.fertigkeiten as |karfert|}}
        <div class="flexrow">
            <!-- <label>{{karfert.img}}</label> -->
            <label class="ausklappen-trigger" data-ausklappentarget="{{karfert._id}}">{{karfert.name}}</label>
            <!-- <label>{{karfert.data.faktor}}</label> -->
            <label>{{AttributeFertigkeit_from_data karfert.data}}</label>
            <label>{{karfert.data.basis}}</label>
            <label>{{karfert.data.fw}}</label>
            <label class="rollable" data-rolltype="karma_fertigkeit" data-fertigkeit="{{karfert.name}}" data-pw="{{karfert.data.pw}}">{{karfert.data.pw}}</label>
            <a class="item-edit" data-itemclass="karma_fertigkeit" data-itemid="{{karfert._id}}"><i class="fas fa-edit"></i></a>
            <a class="item-delete" data-itemclass="karma_fertigkeit" data-itemid="{{karfert._id}}"><i class="fas fa-trash"></i></a>
        </div>
        <div id="ausklappen-view-{{karfert._id}}" style="display: none">
            <label style="white-space: pre-line;">{{karfert.data.text}}</label>
        </div>
        {{/each}}
    </div>
    <br>
    <h2>Talente</h2>
    <a class="item-create" data-itemclass="magie_talent"><i class="fas fa-plus"></i>Neues Magietalent</a>
    <a class="item-create" data-itemclass="karma_talent"><i class="fas fa-plus"></i>Neues Karmatalent</a>
    <div>
        <div class="flexrow">
            <h6>Talent</h6>
            <h6>Vorbereitung</h6>
            <h6>Reichweite</h6>
            <h6>Wirkungsd.</h6>
            <h6>Kosten</h6>
            <h6>PW</h6>
            <h6></h6>
            <h6></h6>
        </div>
        {{#each actor.magie.talente as |magtal|}}
        <div class="flexrow">
            <label class="ausklappen-trigger" data-ausklappentarget="{{magtal._id}}">{{magtal.name}}</label>
            <label>{{magtal.data.vorbereitung}}</label>
            <label>{{magtal.data.reichweite}}</label>
            <label>{{magtal.data.wirkungsdauer}}</label>
            <label>{{magtal.data.kosten}}</label>
            <label class="rollable" data-rolltype="magie_talent" data-talent="{{magtal.name}}" data-pw="{{magtal.data.pw}}">{{magtal.data.pw}}</label>
            <a class="item-edit" data-itemclass="magie_talent" data-itemid="{{magtal._id}}"><i class="fas fa-edit"></i></a>
            <a class="item-delete" data-itemclass="magie_talent" data-itemid="{{magtal._id}}"><i class="fas fa-trash"></i></a>
        </div>
        <div id="ausklappen-view-{{magtal._id}}" style="display: none">
            <hr>
            <div>
                <div>
                    <label><b>Mächtige Magie: </b></label>
                    <label style="white-space: pre-line;">{{magtal.data.maechtig}}</label>
                </div>
                <div>
                    <label><b>Schwierigkeit: </b></label>
                    <label>{{magtal.data.schwierigkeit}}</label>
                </div>
                <div>
                    <label><b>Modifikationen: </b></label>
                    <label style="white-space: pre-line;">{{magtal.data.modifikationen}}</label>
                </div>
                <div>
                    <label><b>Ziel: </b></label>
                    <label>{{magtal.data.ziel}}</label>
                </div>
                <div>
                    <label><b>Beschreibung: </b></label>
                    <label style="white-space: pre-line;">{{magtal.data.text}}</label>
                </div>
            </div>
            <hr>
        </div>
        {{/each}}
        {{#each actor.karma.talente as |kartal|}}
        <div class="flexrow">
            <label class="ausklappen-trigger" data-ausklappentarget="{{kartal._id}}">{{kartal.name}}</label>
            <label>{{kartal.data.vorbereitung}}</label>
            <label>{{kartal.data.reichweite}}</label>
            <label>{{kartal.data.wirkungsdauer}}</label>
            <label>{{kartal.data.kosten}}</label>
            <label class="rollable" data-rolltype="karma_talent" data-talent="{{kartal.name}}" data-pw="{{kartal.data.pw}}">{{kartal.data.pw}}</label>
            <a class="item-edit" data-itemclass="karma_talent" data-itemid="{{kartal._id}}"><i class="fas fa-edit"></i></a>
            <a class="item-delete" data-itemclass="karma_talent" data-itemid="{{kartal._id}}"><i class="fas fa-trash"></i></a>
        </div>
        <div id="ausklappen-view-{{kartal._id}}" style="display: none">
            <hr>
            <div>
                <div>
                    <label><b>Mächtige Magie: </b></label>
                    <label style="white-space: pre-line;">{{kartal.data.maechtig}}</label>
                </div>
                <div>
                    <label><b>Schwierigkeit: </b></label>
                    <label>{{kartal.data.schwierigkeit}}</label>
                </div>
                <div>
                    <label><b>Modifikationen: </b></label>
                    <label style="white-space: pre-line;">{{kartal.data.modifikationen}}</label>
                </div>
                <div>
                    <label><b>Ziel: </b></label>
                    <label>{{kartal.data.ziel}}</label>
                </div>
                <div>
                    <label><b>Beschreibung: </b></label>
                    <label style="white-space: pre-line;">{{kartal.data.text}}</label>
                </div>
            </div>
            <hr>
        </div>
        {{/each}}
    </div>
</div>

