<p><strong>BITTE BEACHTEN</strong>, bitte in den Settings in Foundry das Theme auf Light stellen. Dark Theme wird vom Ilaris System noch nicht unterstützt und kann an manchen Stellen deshalb weniger gut aussehen bis unbrauchbar sein.</p>
<h4>Foundry v13 update</h4>
<p>System-Update auf Foundry v13.</p>
