<form class="{{cssClass}}">
  <div>
    <div>
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <input name="name" type="text" value="{{actor.name}}" />
      <div class="flexrow">
          <label>Erschöpfung</label>
          <input name="data.gesundheit.erschoepfung.wert" value="{{data.gesundheit.erschoepfung.wert}}" type="text" data-dtype="Number">
      </div>
      <div class="flexrow">
          <label>Wunden </label>
          <input name="data.gesundheit.wunden.wert" value="{{data.gesundheit.wunden.wert}}" type="text" data-dtype="Number">
      </div>
      <label>{{data.gesundheit.display}}</label>
      <!-- <label>{{data.notes}}</label>
      {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
      <label>{{data.notes}}</label> -->
    </div>
    <div>
      <div>
        <!-- <div class="tab" data-group="primary" data-tab="stats"> -->
        <!-- {{> systems/Ilaris/templates/sheets/tabs/attribute.html}}
        {{> systems/Ilaris/templates/sheets/tabs/fertigkeiten.html}} -->
        <div class="sheet-tabs tabs" data-group="primary">
          <b class="item" data-tab="attribute">Attribute</b>
          <b class="item" data-tab="fertigkeiten">Fertigkeiten</b>
          <b class="item" data-tab="notes">blabla</b>
        </div>
        <div class="sheet-body">
          <div class="tab" data-group="primary" data-tab="notes">
            <!-- <div class="notes"> -->
            <!-- <div style="height: 100%"> -->
            <!-- {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}} -->
            {{> systems/Ilaris/templates/sheets/tabs/notes.html}}
            <!-- <textarea class='bio-section-value' style='height: max-content;resize: none;font-family: "Nodesto", "Signika", "Palatino Linotype", serif;font-size: 12px;' rows="4" >{{data.notes}}</textarea> -->
            <!-- </div> -->
            <!-- </div> -->
          </div>
          <div class="tab" data-group="primary" data-tab="attribute">
            {{> systems/Ilaris/templates/sheets/tabs/attribute.html}}
          </div>
          <div class="tab" data-group="primary" data-tab="fertigkeiten">
            {{> systems/Ilaris/templates/sheets/tabs/fertigkeiten.html}}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
