{{log 'actor-sheet' this}}
<form class="{{cssClass}}">
  <div class=herosheet>
    <div class=heroheader>
      <div>
        <h1><input name="name" type="text" value="{{actor.name}}" /></h1>

      </div>
      <div class="flexrow">
        {{#each (range 1 (add actor.system.schips.schips 1)) as |index|}}
          {{#if (lte index ../actor.system.schips.schips_stern)}}
            <span class="schips-button filled" name="system.schips.schips_stern"></span>
          {{else}}
            <span class="schips-button"></span>
          {{/if}}
        {{/each}}
      </div>

    </div>

    <div class="herosidebar">
      <div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      </div>

      <div id="lebensleiste">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/Leben.png" data-edit="img" title="Leben"
          height="40" width="40" />
          {{#each (range 0 8) as |index|}}
            <button 
              class="triStateBtn state-{{getButtonState index ../actor.system.gesundheit.wunden ../actor.system.gesundheit.erschoepfung}}" 
              data-state="{{getButtonState index ../actor.system.gesundheit.wunden ../actor.system.gesundheit.erschoepfung}}">
            </button>
          {{/each}}
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/Tod.png" data-edit="img" title="Tod"
          height="40" width="40" />
      </div>
      <div>
        <a class="icon-small toggle-bool {{system.gesundheit.wundenignorieren}}"
          data-togglevariable="system.gesundheit.wundenignorieren">
          Wundabzüge
          {{#if actor.system.gesundheit.wundenignorieren}}
          ignorieren
          {{else}}
          nicht ignorieren
          {{/if}}
        </a>
      </div>
      <p></p>
      <div class="table-column">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/ws.svg" data-edit="img" title="WS"
          height="40" width="40"> </img>
        <label>{{actor.system.abgeleitete.ws}}</label>
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/ws.svg" data-edit="img" title="WS*"
          height="40" width="40" />
        <label>{{actor.system.abgeleitete.ws_stern}}</label>
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/mr.svg" data-edit="img" title="MR"
          height="40" width="40" />
        <label class="rollable onhover" data-rolltype="simpleprobe_diag" data-name="Magierresistenz"
          data-pw="{{actor.system.abgeleitete.mr}}">{{actor.system.abgeleitete.mr}}
        </label>
      </div>
      <div>
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/ini.svg" data-edit="img" title="INI"
          height="40" width="40" />
        <label>{{actor.system.abgeleitete.ini}}</label>
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/gs.svg" data-edit="img" title="GS"
          height="40" width="40" />
        <label>{{actor.system.abgeleitete.gs}}</label>
        <img class="profile-img" src="icons/svg/daze.svg" data-edit="img" title="DH" height="40" width="40" />
        <label>{{actor.system.abgeleitete.dh}}</label>
      </div>
      <br>
      <div style="font-size: 14px">
        {{#if actor.system.abgeleitete.zauberer}}
        <label class="ausklappen-trigger onhover" data-ausklappentarget="aspzugekauft"><b>AsP:</b></label>
        <label>{{actor.system.abgeleitete.asp}}&nbsp; | &nbsp;</label>

        <label><b>gAsP:</b></label>
        <input style="width: 25px" name="system.abgeleitete.gasp" value="{{actor.system.abgeleitete.gasp}}"
          type="number" data-dtype="Number" />

        <label>&nbsp; | &nbsp;<b>AsP*:</b></label>
        <input style="width: 25px" name="system.abgeleitete.asp_stern" value="{{actor.system.abgeleitete.asp_stern}}"
          type="number" data-dtype="Number" />

        <span id="ausklappen-view-aspzugekauft" style="display: none">
          <label>Zugekauft: </label>
          <input style="width: 25px" name="system.abgeleitete.asp_zugekauft"
            value="{{actor.system.abgeleitete.asp_zugekauft}}" type="number" data-dtype="Number" />
        </span>
        <br>
        {{/if}}

        {{#if actor.system.abgeleitete.geweihter}}
        <label class="ausklappen-trigger onhover" data-ausklappentarget="kapzugekauft"><b>KaP:</b></label>
        <label>{{actor.system.abgeleitete.kap}}&nbsp; | &nbsp;</label>

        <label><b>gKaP:</b></label>
        <input style="width: 25px" name="system.abgeleitete.gkap" value="{{actor.system.abgeleitete.gkap}}"
          type="number" data-dtype="Number" />

        <label>&nbsp; | &nbsp;<b>KaP*:</b></label>
        <input style="width: 25px" name="system.abgeleitete.kap_stern" value="{{actor.system.abgeleitete.kap_stern}}"
          type="number" data-dtype="Number" />

        <span id="ausklappen-view-kapzugekauft" style="display: none">
          <label>Zugekauft: </label>
          <input style="width: 25px" name="system.abgeleitete.kap_zugekauft"
            value="{{actor.system.abgeleitete.kap_zugekauft}}" type="number" data-dtype="Number" />
        </span>
        <br />
        {{/if}}
      </div>

    </div>

    <div class="heroattributes">
      {{#each actor.system.attribute as |attribut key|}}
      <div class="attribute-wrapper">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/{{key}}.png" title="{{key}}" />
        <label class="attribute-number rollable onhover" data-rolltype="attribut" data-attribut="{{key}}">
          {{attribut.pw}}
        </label>
      </div>
      {{/each}}
    </div>
    
    

    <div class=herotabnavigation>
      <hr />
      <div class="sheet-tabs tabs" data-group="primary">
        <b class="item" data-tab="attribute"><img class="profile-img"
          src="/systems/Ilaris/assets/images/Ilaris/attribute.png" height="50" width="50" /></b>
        <b class="item" data-tab="fertigkeiten"><img class="profile-img"
          src="/systems/Ilaris/assets/images/Ilaris/holzbearbeitung.png" height="50" width="50" /></b>
        <b class="item" data-tab="uebernatuerlich"><img class="profile-img"
          src="/systems/Ilaris/assets/images/Ilaris/gildenmagie.png" height="50" width="50" /></b>
        <b class="item" data-tab="kampf"><img class="profile-img"
          src="/systems/Ilaris/assets/images/Ilaris/beidhaendig.png" height="50" width="50" /></b>
        <b class="item" data-tab="inventar"><img class="profile-img"
            src="/systems/Ilaris/assets/images/Ilaris/geld.jpg" height="50" width="50" /></b>
        <b class="item" data-tab="notes"><img class="profile-img"
            src="/systems/Ilaris/assets/images/Ilaris/wissen.png" height="50" width="50" /></b>
        <b class="item" data-tab="effekte"><img class="profile-img"
            src="/systems/Ilaris/assets/images/Ilaris/magie.png" height="50" width="50" /></b>
      </div>
      <hr />
    </div>

    <div class=herotab>
      <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="notes">
          {{> systems/Ilaris/templates/sheets/tabs/notes.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="attribute">
          {{> systems/Ilaris/templates/sheets/tabs/attribute.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="fertigkeiten">
          {{> systems/Ilaris/templates/sheets/tabs/fertigkeiten.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="uebernatuerlich">
          {{> systems/Ilaris/templates/sheets/tabs/uebernatuerlich.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="kampf">
          {{> systems/Ilaris/templates/sheets/tabs/kampf.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="effekte">
          {{> systems/Ilaris/templates/sheets/tabs/effekte.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="inventar">
          {{> systems/Ilaris/templates/sheets/tabs/inventar.html}}
        </div>
      </div>
    </div>
  </div>
</form>