<form class="{{cssClass}} kreatur-sheet">
    <header class="sheet-header kreatur-header">
        <div style="display: flex; justify-content: space-between;">
            <div class="header-fields">
                <input class="titel-input" style="" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                <textarea rows="2" name="data.kurzbeschreibung" type="text">{{data.data.kurzbeschreibung}}</textarea>
            </div>
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
    </header>
    <div style="clear: both"></div>

    <div class="sheet-tabs tabs" data-group="primary">
        <b class="item" data-tab="profan">Profan</b>
        <b class="item" data-tab="uebernatuerlich">Übernatürlich</b>
    </div>
    <hr />
    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="profan">
            {{> systems/Ilaris/templates/sheets/tabs/kreaturprofan.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="uebernatuerlich">
            {{> systems/Ilaris/templates/sheets/tabs/kreaturuebernatuerlich.html}}
        </div>
        <div class="form-group select">
            <select name="data.additemtype" style="max-width: 150px;">
                {{#select data.data.additemtype}}
                <option value="angriff">Angriff</option>
                <option value="eigenschaft">Eigenschaft</option>
                <option value="vorteil">Vorteil</option>
                <option value="freiestalent">Fertigkeit</option>
                <option value="zauber">Zauber</option>
                <option value="info">Info</option>
                {{/select}}
            </select> 
            <button 
                style="max-width: 150px;" 
                class="item-create" 
                data-itemclass="{{data.data.additemtype}}" 
                type="button"
            >
                Hinzufügen
            </button>
        </div>
    </div>
</form>
